@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

/* Estilização de Grid e Body*/
body{
    cursor: url('../img/cursor.png'),auto;
    background: url('../img/sitegatos.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    grid-template-rows: 100px 540px 100px;
    grid-template-areas: "cabecalho cabecalho bground bground bground"
                         "conteudo conteudo bground bground bground"
                         "rodape rodape bground bground bground";
}




/* Configuração de Cabeçalho */
header {
    /* background-color: green; */
    grid-area: cabecalho;
    width: 100%;
    justify-self: start;
    display: flex;
    align-items: center;
    justify-content: center;
}




/* Configuração de Navegação */

nav{
    /* background-color: blue; */
    grid-area: conteudo;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

li {
    margin-top: 25px;
    list-style-type: none;
    align-items: center;
    display: flex;
    flex-direction: row;
}

input {
    margin-right: 15px;
    border: none;
    background-color: antiquewhite;
    padding: 15px 15px;
    border-radius: 30px;
    width: 20rem;
    align-items: center;
}

.titulo-pagina, .titulo-dois-pagina{
    color: rgb(73, 33, 33);
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    margin: -10px;
}

.titulo-pagina{
    font-weight: 5;
    font-size: 80px;
}

.titulo-dois-pagina{
    font-weight: 0;
    font-size: 63px;
}

.bground {
    /* background-color: yellow; */
    grid-area: bground;
    display: flex;
    align-items: end;
    justify-content: end;
}

.gato{
    width: 600px;
    height: 600px;
    position: absolute;
}





/* Configuração de Rodapé */
footer {
    /* background-color: red; */
    grid-area: rodape;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0px;
}

.elemento {
    margin: -35px;
    color: rgb(73, 33, 33);
}

.img {    
    padding: 0px 2px;
}

.instagram {
    margin-right:20px;
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: row;
}

.whatsapp {
    margin-left: 20px;
    align-items: center;
    justify-items: center;
    display: flex;
    flex-direction: row;
}

.after::after {
    content: "|";
    margin: 0 .3125rem;
}

.rodape::after {
    content: "";
    display: block;
    border-bottom: 1px solid #ccc;
}

a{
    text-decoration: none;
}




/* Configuração de Script - Resultado de pesquisa */
.resultados-pesquisa{
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.resultados-pesquisa-list{
    margin: 0px 200px 0px 0px;
    position: block;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}




/* Configuração de fontes, botões e outros */
h4{
    background-color: antiquewhite;
    border-color: antiquewhite;
    border: 0px;
    border-radius: 20px;
    padding: 20px 50px;
    margin-left: 5px;
    color: rgb(73, 33, 33);
}

h5 {
    font-size: 24;
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
    color: rgb(73, 33, 33);
}

header h4:hover{
    background-color: rgb(235, 214, 190);
    color: rgb(33, 15, 15);;
    cursor: url('../img/cursor2.png'),pointer;
}

.material-symbols-outlined {
    border: none;
    background-color: antiquewhite;
    color: rgb(73, 33, 33);
    padding: 10px;
    border-radius: 20px;
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

.material-symbols-outlined:hover {
    background-color: rgb(235, 214, 190);
    color: rgb(33, 15, 15);
    cursor: url('img/cursor2.png'),pointer;
}